################################################
###############  .gitignore   ##################
################################################


tmp
logs

################################################
###############   codelite    ##################
################################################
*.workspace
Makefile
*.project
*.txt
*.mk
/*/Debug
/*/.clang
/*/.codelite
